<div class="banner">
    <img src="src/banner.png">
</div>

<div id="template-wrapper">
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="">
                        Bienvenido
                    </a>
                </li>
                <li>
                    <a href="#profile" ng-if="isOperator && (view !=='profile')">Ver perfil</a>
                    <a href="#editProfile" ng-if="isOperator && (view !=='editProfile')">Editar perfil</a>
                    <a href="#userList" ng-if="isAdmin &&(view !=='userList')">Usuarios</a>
                    <a ng-click="logout()">Salir</a>
                </li>
            </ul>
        </div>

            <div class="container-fluid">
            </div>

    </div>
</div>
