    <div class="col-lg-4">
        <div class="pad form-adduser">
            <div class="JvYz0">
                <img src="https://lh3.googleusercontent.com/-sJgb7cjiDS0/AAAAAAAAAAI/AAAAAAAAAAA/gwjdXtRH9Hs/s128-p-k-rw-no/photo.jpg" class="NkN0Fc inner-title" jsname="SRZeM">
            </div>
            <div class="inner-title site__title">{{formTitle}}</div>
            <input ng-model="usuario" type="email" class="form-control" placeholder="Correo" ng-enter="save()" >
            <div class="input-group ">
                <span class="input-group-addon module mid-input" >Rol:</span>
                <div>
                    <select ng-options="rol.name for rol in roles" class="form-control mid-input" ng-model="$parent.rol"/>
                </div>
            </div>
            <input ng-model="password" type="password" class="form-control repeat-pass" placeholder="Contraseña" ng-enter="save()">
            <input ng-model="passwordr" type="password" class="form-control" placeholder="Repita la contraseña" ng-enter="save()">

            <button class="btn btn-lg btn-primary btn-block" ng-click="save(id)" type="button">{{saveButton}}</button>
            <center>
                <div id="errorRegistro" style="color: red">{{msg}}</div>
            </center>
        </div>
    </div>
