<div ng-include src="'views/navbar.html'"></div>
<div class="container">
    <div class="banner">
        <img src="src/banner.png">
    </div>

    <div id="template-wrapper">
        <div id="wrapper">
          <div id="sidebar-wrapper">
              <ul class="sidebar-nav">
                  <li class="sidebar-brand">
                      <a href="">
                          Bienvenido
                      </a>
                  </li>
                  <li>
                      <a href="#profile">Mostrar perfil</a>
                  </li>
                  <li>
                      <a href="#userList" ng-if="actorRol === 1">Usuarios</a>
                      <a ng-click="logout()">Salir</a>
                  </li>
              </ul>
          </div>
        </div>
        <div class="cuerpo template-container">

          <h2>Edición de perfil de usuario</h2>

          <form action="" class="user-profile">

          <label> Correo</label>
          <br>{{profile.email}}
          <br>

            <label for="sexRadio">Sexo</label><br>

            <div class="">
              <input type="radio" name="sexRadio" value="M" ng-model="profile.gender"> Masculino
              <input type="radio" name="sexRadio" value="F" ng-model="profile.gender"> Femenino
            </div>

            <div class="form-group">
              <label for="ageInput">Edad</label>
              <input type="number" class="form-control" id="ageInput" ng-model="profile.age">
            </div>

            <div class="form-group">
              <label for="visionInput">Vision</label>
              <textarea class="form-control" id="visionInput" rows="4" ng-model="profile.vision"></textarea>
            </div>

            <div class="form-group">
              <label for="abilitiesInput">Habilidades</label>
              <textarea class="form-control" id="abilitiesInput" rows="4" ng-model="profile.abilities"></textarea>
            </div>

            <div class="form-group">
              <label for="skillsInput">Destrezas</label>
              <textarea class="form-control" id="skillsInput" rows="4" ng-model="profile.skills"></textarea>
            </div>

            <div class="form-group">
              <label for="formationInput">Formación</label>
              <textarea class="form-control" id="formation" rows="4" ng-model="profile.formation"></textarea>
            </div>

            <div class="form-group">
              <label for="experienceInput">Experiencia</label>
              <textarea class="form-control" id="experienceInput" rows="4" ng-model="profile.experience"></textarea>
            </div>

            <div class="form-group">
              <label for="cursesInput">Cursos</label>
              <textarea class="form-control" id="cursesInput" rows="4" ng-model="profile.curses"></textarea>
            </div>

            <div class="form-group">
              <label for="workshopsInput">Talleres</label>
              <textarea class="form-control" id="workshopsInput" rows="4" ng-model="profile.workshops"></textarea>
            </div>

            <div class="form-group">
              <label for="seminarsInput">Seminarios</label>
              <textarea class="form-control" id="seminarsInput" rows="4" ng-model="profile.seminars"></textarea>
            </div>

            <div class="form-group">
              <label for="papersInput">Ponencias</label>
              <textarea class="form-control" id="papersInput" rows="4" ng-model="profile.papers"></textarea>
            </div>

            <div class="form-group">
              <label for="publicationsInput">Publicaciones</label>
              <textarea class="form-control" id="publicationsInput" rows="4" ng-model="profile.publications"></textarea>
            </div>

            <div class="form-group">
              <label for="scholarshipsInput">Becas</label>
              <textarea class="form-control" id="scholarshipsInput" rows="4" ng-model="profile.scholarships"></textarea>
            </div>

            <button class="btn btn-md btn-primary butt" ng-click="sendForm()" type="button">Guardar Cambios</button>

          </form>
        </div>
    </div>
</div>
