<div ng-include src="'views/navbar.html'"></div>
<div class="container">
    <div class="banner">
        <img src="src/banner.png">
    </div>

    <div id="template-wrapper">
        <div id="wrapper">
          <div id="sidebar-wrapper">
              <ul class="sidebar-nav">
                  <li class="sidebar-brand">
                      <a href="">
                          Bienvenido
                      </a>
                  </li>
                  <li>
                      <a href="#editProfile">Editar perfil</a>
                  </li>
                  <li>
                      <a href="#userList" ng-if="actorRol === 1">Usuarios</a>
                      <a ng-click="logout()">Salir</a>
                  </li>
              </ul>
          </div>
        </div>
        <div class="cuerpo template-container">
            <div class="container-fluid">
              <div class="user-profile">
                <div class="row user-profile-category">
                  <div class="col-xs-3 text-bold">
                    Correo:
                  </div>
                  <div class="col-xs-9">
                    {{profile.email}}
                  </div>
                </div>
                <div class="row user-profile-category">
                  <div class="col-xs-3 text-bold">
                    Sexo:
                  </div>
                  <div class="col-xs-9">
                    {{profile.gender}}
                  </div>
                </div>
                <div class="row user-profile-category">
                  <div class="col-xs-3 text-bold">
                    Edad:
                  </div>
                  <div class="col-xs-9">
                    {{profile.age}}
                  </div>
                </div>
                <div class="row user-profile-category">
                  <div class="col-xs-3 text-bold">
                     Visión:
                  </div>
                  <div class="col-xs-9">
                    {{profile.vision}}
                  </div>
                </div>
                <div class="row user-profile-category">
                  <div class="col-xs-3 text-bold">
                     Habilidades:
                  </div>
                  <div class="col-xs-9">
                    {{profile.abilities}}
                  </div>
                </div>
                <div class="row user-profile-category">
                  <div class="col-xs-3 text-bold">
                     Destrezas:
                  </div>
                  <div class="col-xs-9">
                    {{profile.skills}}
                  </div>
                </div>
                <div class="row user-profile-category">
                  <div class="col-xs-3 text-bold">
                     Formación:
                  </div>
                  <div class="col-xs-9">
                    {{profile.formation}}
                  </div>
                </div>
                <div class="row user-profile-category">
                  <div class="col-xs-3 text-bold">
                     Experiencia:
                  </div>
                  <div class="col-xs-9">
                    {{profile.experience}}
                  </div>
                </div>
                <div class="row user-profile-category">
                  <div class="col-xs-3 text-bold">
                     Cursos:
                  </div>
                  <div class="col-xs-9">
                    {{profile.curses}}
                  </div>
                </div>
                <div class="row user-profile-category">
                  <div class="col-xs-3 text-bold">
                     Talleres:
                  </div>
                  <div class="col-xs-9">
                    {{profile.workshops}}
                  </div>
                </div>
                <div class="row user-profile-category">
                  <div class="col-xs-3 text-bold">
                     Seminarios:
                  </div>
                  <div class="col-xs-9">
                    {{profile.seminars}}
                  </div>
                </div>
                <div class="row user-profile-category">
                  <div class="col-xs-3 text-bold">
                     Ponencias:
                  </div>
                  <div class="col-xs-9">
                    {{profile.papers}}
                  </div>
                </div>
                <div class="row user-profile-category">
                  <div class="col-xs-3 text-bold">
                     Publicaciones:
                  </div>
                  <div class="col-xs-9">
                    {{profile.publications}}
                  </div>
                </div>
                <div class="row user-profile-category">
                  <div class="col-xs-3 text-bold">
                     Becas:
                  </div>
                  <div class="col-xs-9">
                    {{profile.scholarships}}
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
